@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}


.content-container {
  padding: 4em 3em;
  padding: 1em 2em;
  width: 100%;
  max-width: 850px;
  padding-bottom: 2em;
  margin: 5em auto 2em;
  background-image: linear-gradient(#c8f4f9, #3cacae, #c8f4f9);
  border-radius: 0.5em;
  overflow: hidden;
}

@media (max-width: 600px) {
  .content-container {
    max-width: 360px;
  }
}
